body {
    padding: 20px 20px;
}

#canvas {
    padding: 10px 50px;
}

.axis path {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}


.axis line {
    stroke: black;
    stroke-width: 1px;
    stroke-opacity: 0.1;
}

.axis text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.titles {
    font-family: 'Raleway', sans-serif;
    padding: 0px 0px;

}

#title {
	width: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 0px 200px;
    visibility: hidden;
}

/*.titleVisible {
    font-family: 'Raleway', sans-serif;
    padding: 0px 200px;
    visibility: visible;
}*/

#info {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
}